.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.go {
	float: right;
	margin-right: 100px;
}

.button {
	float: left;
	padding: 5px;
}

h2 {
	background-color: #ccc;
	padding: 20px;
	border: 1px solid gray;
}

#content {
	padding-left: 1.25em;
}

#control {
	float: right;
	background-color: red;
	padding: 2px;
}